<section class="collection collection1">
  <div class="container">
    <h2 class="collection1__heading">Shop Collection</h2>
    <div class="row align-items-md-stretch gy-3">
      <div class="col-md-6">
        <div class="h-100 bg-dark rounded-3 position">
          <a href="#">
            <img
              src="https://images.unsplash.com/photo-1535182463927-440364075d9c?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=1352&amp;q=80"
              alt="" class="collection1__img">
            </a>
          <div class="collection1__info">
            <div class="collection1__info-content">
              <h2 class="collection1__title">Fury Collection</h2>
              <p class="collection1__paragraph">Mens trending fashion design.</p><a href="#"
                class="collection1__cta">SHOP COLLECTION</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 bg-dark rounded-3 position">
          <a href="#">
            <img
              src="https://images.unsplash.com/photo-1526812844132-7681a0a01b5c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=1350&amp;q=80"
              alt="" class="collection1__img">
            </a>
          <div class="collection1__info">
            <div class="collection1__info-content">
              <h2 class="collection1__title">Summer Dresses</h2>
              <p class="collection1__paragraph">Wear the summer impressions.</p><a href="#"
                class="collection1__cta">SHOP COLLECTION</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Collection group one",
  "settings": [
    {
      "type": "collection",
      "id": "featured_collection",
      "label": "Featured collection"
    },
    {
      "type": "color",
      "id": "background",
      "label": "Hero image background",
      "default": "#000000"
    },
    {
      "type": "range",
      "id": "opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "label": "Opacity",
      "default": 10
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "left",
      "label": "Hero content alignment"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.image-with-text.blocks.heading.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "hero_one_title",
          "label": "Hero Title",
          "default": "Summer Styles"
        }
      ]
    },
    {
      "type": "text",
      "name": "t:sections.image-with-text.blocks.text.name",
      "limit": 1,
      "settings": [
        {
          "type": "textarea",
          "id": "hero_one_text",
          "label": "Hero Text",
          "default": "Shop the latest end of the summer sale going on now."
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.image-with-text.blocks.button.name",
      "limit": 2,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "label": "t:sections.image-with-text.blocks.button.settings.button_label.label",
          "default": "SHOP SWIMWEAR"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.image-with-text.blocks.button.settings.button_link.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Collection group one",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "text"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}