<section class="collection collection5">
  <div class="container">
    <span class="collection5__sub-top">
      FEEL COMFORTABLE
    </span>
    <h2 class="collection5__heading mb-5 text-center">
      Beach Collection
    </h2>
    <div class="row g-3">
      <div class="col-md-4"><a href="#" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container">
            <img
              src="https://images.unsplash.com/photo-1467632499275-7a693a761056?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80"
              alt="" class="collection5__img">
          </div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">Womens Casual</h3>
          </div>
        </a></div>
      <div class="col-md-4"><a href="#" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container"><img
              src="https://images.unsplash.com/photo-1569406961914-451a754a3435?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=668&amp;q=80"
              alt="" class="collection5__img"></div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">Mens Beach</h3>
          </div>
        </a></div>
      <div class="col-md-4"><a href="#" class="collection5__link-wrap mx-auto">
          <div class="collection5__wrapper collection5__padded-container"><img
              src="https://images.unsplash.com/photo-1624280217162-466a76286d0f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80"
              alt="" class="collection5__img"></div>
          <div class="collection5__card-info">
            <h3 class="collection5__card-title">Beach Casual</h3>
          </div>
        </a></div>
    </div>
  </div>
</section>