<section class="t-img t-img2">
  <div class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-lg-6">
        <div class="t-img2__info-wrapper">
          <span class="t-img1__sub-top">
            NEW SWIMWEAR COLLECTION
          </span>
          <h1 class="mb-3 t-img2__heading">
            Our New Collection
          </h1>
          <p class="t-img2__paragraph">Soaking in the sun or tanning your perfect shade, our swimwear collection fits every summer challenge with our beautiful designs wether its one peace ot a two peace bikini. Fit the summer comfortably</p>
          <div class="gap-2 d-md-flex justify-content-md-start mt-5">
            <a href="#" class="t-img2__cta">
              SHOP SWIMWEAR
            </a>
          </div>
        </div>
      </div>
      <div class="col-15 col-sm-8 col-lg-6">
        <div class="t-img2__img-wrapper">
          <img src="https://images.unsplash.com/photo-1551899371-8755b2691686?ixlib=rb-1.2.1&amp;ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&amp;auto=format&amp;fit=crop&amp;w=750&amp;q=80" class="d-block mx-lg-auto img-fluid" loading="lazy" />
        </div>
      </div>
    </div>
  </div>
</section>