.collection2 {
	padding: 3em 0;
}
.collection2 .featured-product-title {
	font-size: 2.6rem;
	font-weight: var(--font-heading-weight);
	color: var(--heading-color);
	margin-bottom: 0.6em;
}
.collection2__product-img {
	position: relative;
	background-color: var(--product-collection);
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 10px;
	padding: 2em 0;
}
.collection2__product-info {
	display: flex;
	justify-content: space-between;
}
.collection2__product-title {
	font-size: 1.5rem;
	font-weight: var(--font-body-weight);
	display: block;
}
.collection2__product-price {
	font-size: 1.5rem;
	font-weight: var(--font-body-weight);
	color: var(--body-color-2);
}
@media (min-width: 1024px) {
	.collection2 .featured-product-title {
		font-size: 3rem;
	}
}
