.main-footer {
	padding: 3em 0;
	background-color: var(--footer);
}
.main-footer ul > li:not(:last-child) {
	padding-bottom: 0.8em;
}
.footer-logo {
	letter-spacing: 0.1em;
}
.footer-heading-title,
.footer-logo {
	font-size: 2rem;
	font-weight: 500;
	color: var(--heading-color);
}
.footer-link {
	font-size: 1.6rem;
	font-weight: 200;
	color: var(--heading-color);
}
.main-footer__social {
	padding: 1em 0 0.5em 0;
	border-top: solid 1px var(--tan);
}
.main-footer__social ul {
	display: flex;
	align-items: center;
	justify-content: start;
}
.main-footer__social ul li {
	padding: 0.6em;
}
.main-footer__social ul li a {
	font-size: 2.5rem;
	color: var(--body-color-2);
}
.main-footer .payment-item > svg {
	width: 32px;
}
.main-footer__copyright {
	display: block;
	font-size: 1.4rem;
	color: var(--heading-color);
}
@media (min-width: 768px) {
	.main-footer .payment-list {
		justify-content: center;
	}
	.main-footer .copy-column {
		justify-content: end;
	}
}
