.header2 {
	width: 100%;
	box-shadow: 0 0 1px rgba(0, 0, 0, 0.2);
	padding: 8px 15px;
}
.header2--solid {
	background-color: var(--white);
}
.header2--transparent {
	background-color: rgba(255, 255, 255, 0.6);
}
.header2__nav-logo-center-wrapper a {
	color: var(--heading-color);
}
.header2__nav-logo-center-wrapper a:hover {
	color: inherit;
}
.header2__nav-left-list-item {
	padding: 0.4em;
}
.header2__nav-left-link,
.header2__nav-right-link {
	font-family: var(--font-body-family);
	font-size: 1.4rem;
	font-weight: var(--font-body-weight);
	color: var(--header_color_links);
	letter-spacing: 0.1em;
	position: relative;
	padding: 10px 15px;
	white-space: nowrap;
}
.header2__nav-left-link:hover,
.header2__nav-right-link:hover {
	color: inherit;
}
.header2__nav-left-link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: var(--heading-color);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
.header2__nav-left-link:hover::before {
	transform: scaleX(1);
	visibility: visible;
}
.header2__nav-right-link::before {
	content: '';
	position: absolute;
	left: 0;
	bottom: -1px;
	width: 100%;
	height: 1px;
	background-color: var(--heading-color);
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.3s ease-in-out 0s;
}
.header2__nav-right-link:hover::before {
	transform: scaleX(1);
	visibility: visible;
}
.header2__nav-left-list-item:not(:last-child) {
	margin-right: 1.4em;
}
.header2__nav-right-list-item:not(:last-child) {
	margin-right: 1.4em;
}
.header2__nav-logo-center {
	font-size: 3rem;
}
.header2__nav-right-link-controls {
	color: var(--heading-color);
}
.header2__nav-right-link-controls:hover {
	color: inherit;
}
.header2__nav-right-user {
	font-size: 1.8rem;
}
.nav-search,
.header-shopping-bag {
	font-size: 2.2rem;
}
.header2__has-dropdown {
	position: relative;
	z-index: 7;
}
.header2__has-dropdown > .header2__nav--link-has-dropdown {
	position: relative;
	z-index: 8;
}
.header2__has-dropdown:hover {
	background-color: var(--white);
	visibility: visible;
}
.header2__has-dropdown:hover .nav-dropdown {
	visibility: visible;
}
.nav-dropdown {
	position: absolute;
	left: 0;
	display: block;
	margin: 0;
	z-index: 5;
	min-width: 100%;
	box-shadow: 0 10px 20px rgba(0, 0, 0, 0.09);
	visibility: hidden;
	background-color: var(--white);
}
.nav-dropdown > ul {
	width: 100%;
	background-color: var(--white);
}
.nav-dropdown > li {
	position: relative;
	width: 100%;
}
.nav-dropdown__link {
	font-size: 1.5rem;
	font-weight: 400;
	letter-spacing: 0.1em;
	display: block;
	padding: 8px 15px;
	white-space: nowrap;
	background-color: var(--white);
	color: var(--heading-color);
	position: relative;
	z-index: 6;
}
.nav-dropdown__link:hover {
	color: inherit;
}
.site-nav--is-megamenu.header1__nav-left-list-item,
.site-nav--is-megamenu.header2__nav-right-list-item,
.site-nav--is-megamenu.header3__nav-left-list-item,
.site-nav--is-megamenu.header4__nav-left-list-item,
.site-nav--is-megamenu.header5__nav-right-list-item {
	position: static;
}
.megamenu {
	padding: 39px 0;
	line-height: 1.8;
}
.megamenu__collection-img {
	padding-bottom: 50%;
	position: relative;
}
.megamenu__collection-img::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #ccc;
}
.megamenu__collection-img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.megamenu__collection-heading > a {
	font-family: var(--font-body-family);
	font-size: 1.3rem;
	font-weight: 300;
	letter-spacing: 0.2em;
	color: var(--heading-color);
}
.megamenu__list > li > a {
	padding-left: 0;
}

@media (min-width: 320px) {
	.header2__wrapper {
		display: none;
	}
	.header2__mobile-nav-wrapper {
		display: block;
	}
}
@media (min-width: 1024px) {
	.header2__wrapper {
		display: block;
	}
	.header2__mobile-nav-wrapper {
		display: none;
	}
}

/* MOBILE START */
.nav-m1__mobile-menu-btn {
	font-size: 24px;
	padding: 0.2em;
	cursor: pointer;
	color: var(--heading-color);
}
.nav-m1__logo,
.nav-m1__tagline {
	font-size: 2.8rem;
	font-weight: 500;
	color: var(--heading-color);
	text-align: center;
}
.nav-m1__tagline {
	font-size: 1rem;
	letter-spacing: 0.6em;
	display: block;
}
.user {
	font-size: 22px;
}
.shopping-bag,
.user {
	color: var(--heading-color);
}
.shopping-bag {
	font-size: 21px;
}
.nav-m1__nav-right-wrapper > a:not(:last-child) {
	margin-right: 0.4em;
}
.nav-m1__content-wrapper {
	position: fixed;
	top: 0;
	left: 0;
	width: 0;
	height: 100vh;
	overflow: hidden;
	background-color: var(--white);
	opacity: 0;
	visibility: hidden;
	z-index: 400;
	transition: all 0.3s ease-in;
}
.show-mobile-menu {
	width: 100%;
	opacity: 1;
	visibility: visible;
}
.nav-m1__main-nav-list-item {
	padding: 2em;
}
.heder-m1__main-nav-link {
	font-size: 1.6rem;
	font-weight: 500;
	letter-spacing: 0.1em;
	color: var(--heading-color);
}
.d-down-btn {
	display: -moz-box;
	display: flex;
	-moz-box-pack: justify;
	justify-content: space-between;
	width: 100%;
	-moz-box-align: center;
	align-items: center;
}
.arrow {
	color: var(--heading-color);
	font-size: 18px;
}
.drop-down {
	opacity: 0;
	visibility: hidden;
	display: none;
}
.drop-down__list {
	padding-left: 1em;
}
.drop-down__list-item {
	padding: 0.6em;
}
.drop-down__link {
	font-size: 1.4rem;
	font-weight: 300;
	color: var(--heading-color);
	letter-spacing: 0.1em;
	cursor: pointer;
}
.drop-down__link:hover {
	color: var(--hover);
}
.d-down:hover .drop-down {
	opacity: 1;
	visibility: visible;
	display: block;
}
@media (min-width: 1024px) {
	.nav1 {
		display: none;
	}
}
@media (max-width: 768px) {
	.nav1 {
		display: block;
	}
}
